<%- include('giardino-template') %>

<div class="text-accent text-2xl font-semibold">
    <h2>
        Previsioni del giorno
    </h1>
</div>
<div id="previsionigiorno" class="flex justify-normal items-center gap-4">

</div>

<%- include('giardino-template2') %>

<script src="/scripts/previsioni.giorno.js"></script>