<div class="drawer-side" style="z-index: 99999999;">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
    <ul class="min-h-screen menu p-4 bg-accent text-white shadow-2xl">
    <!-- Sidebar content here -->
    <div data-aos="fade-right" class="items-center justify-center">
        <a href="http://localhost:3000/OrtoPlan"><img height="100px" width="100px" src="/assets/logo.png" alt=""></a>
    </div>
    <li data-aos="fade-right" class="border-t-white border-t-2"><button onclick="window.location.href = '/OrtoPlan/giardino/'+ userId">Home</button></li>
    <li data-aos="fade-right"><button onclick="coltivazioni()">Le Tue Coltivazioni</button></li>
    <li data-aos="fade-right"><button onclick="previsioni()">Previsioni della Settimana</button></li>
    <li data-aos="fade-right" class="mt-auto border-t-2 border-t-white"><button onclick="openProfileModal()">Profilo</button></li>
    <li><a href="">Notifiche</a></li>
    <li><button onclick="logout()">Esci</button></li>
    </ul>
</div>
</div>

<!-- Profilp modal -->
<dialog id="profileModal" class="modal">
    <!-- modal box -->
    <div class="flex flex-col modal-box gap-4">
        <div class="flex flex-col gap-4">
            <h3 class="font-bold text-lg text-accent">Profilo</h3>
            <form id="profileForm" class="flex flex-col gap-4">
                <input name="firstName" placeholder="Nome" type="text" class="input input-bordered w-full">
                <input name="lastName" placeholder="Cognome" type="text" class="input input-bordered w-full">
                <input name="email" placeholder="Email" type="text" class="input input-bordered w-full">
                <input name="password" placeholder="Password" type="password" class="input input-bordered w-full">
                <input name="conferma" placeholder="Conferma Password" type="password" class="input input-bordered w-full">
                <input name="datanascita" placeholder="DataNascita" type="date" class="input input-bordered w-full">
                <div class="modal-action">
                    <button type="button" class="btn border-accent text-accent btn-outline" onclick="profileModal.close()">Chiudi</button>
                    <button type="submit" class="btn border-accent text-accent btn-outline">Salva</button>
                </div>
            </form>
        </div>
    </div>
    <!-- backdrop -->
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>


<script>
const userId = '<%= userId %>';
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>   
<script src="/scripts/giardino.js"></script>  

</body>
</html>