<%- include('giardino-template') %>

<div class="flex flex-col gap-8 h-full p-4 w-[100%]">
    <div class="text-accent lg:text-2xl text- font-semibold flex flex-col lg:flex-row justify-between items-center w-full gap-2 lg:gap-0">
        <h2 data-aos="fade-up">
            Previsioni del giorno <span id="today" class="loading loading-spinner loading-sm"></span>
        </h2>
        <div data-aos="fade-up" class="gap-2">
            <form id="cityForm" class="flex gap-2">
                    <img  src="/assets/meteo/map.svg" alt="">
                    <input name="nomecitta" placeholder="roma"  type="text" class="input input-bordered input-sm">
                    <div class="w-full hidden" id="err"></div>
                    <button type="submit" class="btn btn-sm border-accent text-accent btn-outline">cerca</button>
            </form>
        </div>
    </div>
    <section id="splide" class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
                <div id="previsionigiorno" class="splide__list text-center lg:max-h-32 min-h-20">

                </div>
        </div>
    </section>
    <div class="divider divider-accent w-full"></div>
    
    <div class="text-accent text-2xl font-semibold">
        <h2 data-aos="fade-up">
            Le Tue Prossime Attivita
        </h2>
    </div>
    <section id="splide2" class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
                <div id="attivita" class="splide__list text-center lg:max-h-32 min-h-20 w-full">

                </div>
        </div>
    </section>

    <div class="divider divider-accent w-full"></div>
    

    <div id="success" class="toast z-50 hidden">
        <div class="alert alert-success text-white">
            <span>Profilo Modificato con Successo! Per favore riesegui il Login</span>
          </div>
    </div>
</div>
    </div>

<%- include('giardino-template2') %>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script> 
const isToday = moment().format('ddd, DD-MM-YYYY');
const span = document.querySelector('#today');
span.textContent = isToday;
span.classList.remove('loading','loading-spinner','loading-sm');
</script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="/scripts/previsioni.giorno.js"></script>