<!DOCTYPE html>
<html lang="en" data-theme="garden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giardino</title>
    <link rel="stylesheet" href="/style/output.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

</head>
    <body class="drawer lg:drawer-open bg-white">
            <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
            <div class="drawer-content flex flex-col items-center justify-center min-h-screen lg:items-start lg:justify-start p-4">
              

            
                    
            