<!DOCTYPE html>
<html lang="en" data-theme="garden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giardino</title>
    <link rel="stylesheet" href="/style/output.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

</head>
    <body>
        <header class="z-20 top-0 left-0 w-full bg-accent shadow-2xl border-b-2 border-green-800 relative">
            <div class="flex gap-4 justify-center items-center p-4">
                <label for="my-drawer-2" class="drawer-button lg:hidden"><img src="/assets/burger.svg" alt=""></label>
                <div class="items-center flex justify-between gap-4">
                    <h1 data-aos="fade-down" class="text-white lg:text-2xl text-sm">
                        Buongiorno, <span id="user" class="loading loading-spinner loading-sm"></span>!
                    </h1>
                    <img data-aos="fade-down" height="30px" width="30px" src="/assets/emoji1.svg" alt="">
                </div>
            </div>
        </header>
        <div class="drawer lg:drawer-open bg-base-100">
            <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
            <div class="drawer-content flex flex-col items-center min-h-screen lg:items-start lg:justify-start p-4">
                <!-- Page content here -->
                <div class="divider divider-accent"></div>
                
              

            
                    
            